<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Taskify</title>
=======
    <title>TaskManager</title>
>>>>>>> f771fabf3833b3bc82b0760d504d89ee9c98f041
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<<<<<<< HEAD
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
=======
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
>>>>>>> f771fabf3833b3bc82b0760d504d89ee9c98f041
      <%= yield %>
    </main>
  </body>
</html>
